In [1]:
#!pip install pymysql
#!pip install sqlalchemy

In [2]:
import pandas as pd
import numpy as np

import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

from getpass import getpass  # To get the password without showing the input

In [3]:
password = getpass()

········

In [ ]:
#print(password)

In [4]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [5]:
type(engine)

sqlalchemy.engine.base.Engine

In [7]:
#1-How many distinct(Different) actors' last names 
data = pd.read_sql_query('SELECT count(DISTINCT first_name) as last_names FROM sakila.actor', engine)
data.head()

   last_names
0         128

In [11]:
#2. Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.

data = pd.read_sql_query('alter table rental add column day_type INT NOT null;' , engine)
data.head()

OperationalError: (pymysql.err.OperationalError) (1060, "Duplicate column name 'day_type'")
[SQL: alter table rental add column day_type INT NOT null;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [20]:
#3- Get all filmns with ARMAGEDDON in the title.

data = pd.read_sql_query('SELECT title,count(film_id) as number_of_films FROM film Where title LIKE "ARMAGEDDON" GROUP BY title', engine)

data.head()

Empty DataFrame
Columns: [title, number_of_films]
Index: []

In [22]:
#4 GET 10 the longest films.
data = pd.read_sql_query('SELECT length FROM film ORDER BY length DESC LIMIT 10', engine)
data.head(10)

   length
0     185
1     185
2     185
3     185
4     185
5     185
6     185
7     185
8     185
9     185

In [26]:
#5 How many films include Behind The Scene Content?
data = pd.read_sql_query('SELECT count(film_id) number_of_films , special_features as feature FROM film WHERE special_features = "Behind the Scenes"',engine)
data.head()

   number_of_films            feature
0               70  Behind the Scenes

In [30]:
#6 Which kind of movies (rating) have a mean duration of more than two hours?
data = pd.read_sql_query('SELECT avg(length),rating FROM film WHERE length > "120"group by length,rating', engine)
data.head()

   avg(length) rating
0        130.0      G
1        169.0     PG
2        126.0      G
3        136.0     PG
4        150.0     PG

In [33]:
#7 Rank films by length(filter out the rows that have nulls or 0s in length).
#In your output, only select the columns title,length, and the rank.

data = pd.read_sql_query('SELECT length ,title FROM film WHERE length IS NOT NULL group by title,length ORDER BY length DESC;',engine)
data.head()

   length           title
0     185   CHICAGO NORTH
1     185  CONTROL ANTHEM
2     185  DARN FORRESTER
3     185     GANGS PRIDE
4     185       HOME PITY